body {padding:20px 20px;}
body h1 span {color:lightgreen}
p {color:gray}
ul li {margin:20px 32px 20px 0px;
    list-style: none;
    color:lightgreen;
    line-height: 40px;
    }
ul {display:flex;
padding:0px;}
img {margin:8px 8px 0px 0px;}